{{page-title "Courier Services"}}
<div class="bg-gravity-blue">
  <h1 class="text-white">
    <span class="font-40">Courier Services <strong>WE OFFER</strong></span> <br>
  </h1>
  <p class="p-2 text-white">
    We provide general transport services for various kinds of goods and we're able to pick you up quickly in Gauteng, Limpopo, Mpumalanga and North West.

    <ul class="list-group list-group-flush mt-2">
      <li class="list-group-item text-white">
        <i class="float-start bi bi-check-circle text-gravity-green"></i>
        <span class="mx-2">Logistics</span>
      </li>
      <li class="list-group-item text-white">
        <i class="float-start bi bi-check-circle text-gravity-green"></i>
        <span class="mx-2">Overnight courier</span>
      </li>
      <li class="list-group-item text-white">
        <i class="float-start bi bi-check-circle text-gravity-green"></i>
        <span class="mx-2">Distribution</span><br>
        <ul class="no-style">
          <li>*Storage &amp; Packaging</li>
        </ul>
      </li>
      <li class="list-group-item text-white">
        <i class="float-start bi bi-check-circle text-gravity-green"></i>
        <span class="mx-2">24hrs emergency transport</span>
      </li>
      <li class="list-group-item text-white">
        <i class="float-start bi bi-check-circle text-gravity-green"></i>
        <span class="mx-2">Load transfer</span>
      </li>
      <li class="list-group-item text-white">
        <i class="float-start bi bi-check-circle text-gravity-green"></i>
        <span class="mx-2">Container transport</span>
        <ul class="no-style">
          <li>*Forklift</li>
          <li>*Bobcat</li>
        </ul>
      </li>
      <li class="list-group-item text-white">
        <i class="float-start bi bi-check-circle text-gravity-green"></i>
        <span class="mx-2">Stuff transport and shuttle services</span>
      </li>
    </ul>
  </p>
</div>