<section class="section-banner1">
  <div class="row">
    <div class="col-xs-12 col-md-4 filled-card">
      <small>10 YEARS OF </small>
      <br>
      <i class="bi bi-lightbulb-fill font-40"></i>
      <span><strong>EXPERIENCE</strong></span>
    </div>
    <div class="col-xs-12 col-md-4 filled-card">
      <small>SHORT</small>
      <br>
      <i class="bi bi-truck-flatbed font-40"></i>
      <span>ARRIVAL <strong>TIME</strong></span>
    </div>
    <div class="col-xs-12 col-md-4 filled-card">
      <i class="bi bi-clock-history font-40"></i>
      <span>AVAILABLE <strong>24/7</strong></span>
    </div>
  </div>
</section>

<section class="about p-4" id="about">
  <AboutUs />
</section>

<section class="p-4">
  <h1 class="text-center mb-4 font-40">CLIENT'S WHO'VE TRUSTED US OVER THE YEARS</h1>
  <div class="row p-4 mt-2">
    <div class="col-xs-4 col-md-3 mb-4">
      <img src="images/discovery.jpg" class="shadow-lg" height="100">
    </div>
    <div class="col-xs-4 col-md-3 mb-4">
      <img src="images/outsurance.jpg" class="shadow-lg" height="100">
    </div>
    <div class="col-xs-4 col-md-3 mb-4">
      <img src="images/aa.jpg" class="shadow-lg" height="100">
    </div>
    <div class="col-xs-4 col-md-3 mb-4">
      <img src="images/russel.jpg" class="shadow-lg" height="100">
    </div>
    <div class="col-xs-4 col-md-3 mb-4">
      <img src="images/cims.jpg" class="shadow-lg" height="100">
    </div>
    <div class="col-xs-4 col-md-3 mb-4">
      <img src="images/clc.jpg" class="shadow-lg" height="100">
    </div>
    <div class="col-xs-4 col-md-3 mb-4">
      <img src="images/sugarmoon.jpg" class="shadow-lg" height="100">
    </div>
    <div class="col-xs-4 col-md-3 mb-4">
      <img src="images/ashlee.jpg" class="shadow-lg" height="100">
    </div>
  </div>
</section>

<hr class="styled">
<section class="gallery p-2 container" id="gallery">
  <h1 class="font-40 text-center text-blue">Gallery</h1>
  <br>
  <Gallery />
</section>