{{page-title "Roadside Assist"}}
<div class="bg-gravity-blue">
  <h1 class="text-white">
    <span class="font-40">Roadside <strong>Assist</strong></span> <br>
  </h1>
  <p class="p-2 text-white">
    We provide general roadside assistance in the event of an unexpected emergency and we're able to get to you quickly in Gauteng, Limpopo, Mpumalanga and North West.

    <ul class="list-group list-group-flush mt-2">
      <li class="list-group-item text-white">
        <i class="float-start bi bi-check-circle text-gravity-green"></i>
        <span class="mx-2">Flat tyre assist and spare wheel supply for various vehicles</span>
      </li>
      <li class="list-group-item text-white">
        <i class="float-start bi bi-check-circle text-gravity-green"></i>
        <span class="mx-2">Fuel supply for light and heavy vehicles</span>
      </li>
      <li class="list-group-item text-white">
        <i class="float-start bi bi-check-circle text-gravity-green"></i>
        <span class="mx-2">Vehicles, home and office locksmith</span>
      </li>
      <li class="list-group-item text-white">
        <i class="float-start bi bi-check-circle text-gravity-green"></i>
        <span class="mx-2">Battery services and supply</span>
      </li>
      <li class="list-group-item text-white">
        <i class="float-start bi bi-check-circle text-gravity-green"></i>
        <span class="mx-2">Towing services for long-short distances</span><br>
        <ul class="no-style">
          <li>*Guardian angel/Roadside security</li>
          <li>*Recovery</li>
          <li>*Sling tow</li>
          <li>*Flatbed towing</li>
          <li>*Heavy duty towing</li>
          <li>*Cross border</li>
          <li>*Storage facilities</li>
        </ul>
      </li>
    </ul>
  </p>
</div>